* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-control {
  width: 600px;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-control label {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-control > *:not(label) {
  width: 100%;
  outline: none;
  padding: 5px;
}

button {
  outline: none;
  border: none;
  background-color: #ff0062;
  padding: 10px 5px;
  color: #fff;
}

#user-input {
  margin: 16px;
  padding: 16px;
  border: 1px solid #ff0062;
  background: #f7f7f7;
}

#active-projects {
  margin: 16px;
  border: 1px solid #ff0062;
  background: #f7f7f7;
}

#active-projects header {
  width: 100%;
  height: 50px;
  background-color: #ff0062;
  text-align: center;
  color: #fff;
  line-height: 50px;
}

#active-projects ul {
  width: 100%;
  min-height: 50px;
  padding: 16px;
  list-style: none;
}

#finished-projects {
  margin: 16px;
  border: 1px solid #227efe;
  background: #f7f7f7;
}

#finished-projects header {
  width: 100%;
  height: 50px;
  background-color: #227efe;
  text-align: center;
  color: #fff;
  line-height: 50px;
}

#finished-projects ul {
  width: 100%;
  min-height: 50px;
  padding: 16px;
  list-style: none;
}

li {
  padding: 15px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}
